.mainContent {
    display: flex;
    gap: 30px;
    padding: 30px 0 30px 30px;
    margin-left: 50px;
    background-color: #C5E3FF;
    height: 100vh;
    width: 96vw;
    box-sizing: border-box;
}

/* Khu vực các thẻ metric (nhiệt độ, độ ẩm, CO2, v.v.) */
.metricsContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.metricCard {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f7f7f7;
    padding: 12px;
    border-radius: 8px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
}

.metricIcon {
    font-size: 30px;
}

.metricInfo p {
    margin: 0;
    font-weight: bold;
}

.metricInfo h2 {
    margin: 4px 0 0;
    font-size: 20px;
}

/* Khu vực chứa biểu đồ */
.chartContainer {
    flex: 1;
    background-color: #fff;
    border-radius: 15px 0 0 15px;
    padding: 0 12px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
}

.chartContainer h3 {
    margin: 4px 20px 10px 20px;
    text-align: left;
}

.chartWrapper {
    background-color: #D7FBDE;
    padding-top: 20px;
    width: 96%;
    border-radius: 8px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

/* Phần lựa chọn tiêu chí */
.criteriaSelector {
    display: flex;
    gap: 10px;
    padding: 15px 20px 10px 20px;
}

.criterionButton {
    background-color: #eee;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}

.criterionButton:hover {
    background-color: #ddd;
}

.selectedCriterion {
    background-color: #479be5;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* CSS cho container của legend và button */
.customLegendContainer {
    padding: 0 50px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.customLegend {}

.customLegend span {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    margin: 0 10px;
}

.legendColorBox {
    border-radius: 20px;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
}

.buttonContainer {
    text-align: right;
    margin: 0 20px;
}

/* Style cho nút "Xem chi tiết" */
.detailButton {
    margin-top: 10px;
    background-color: #479be5;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
}

.detailButton:hover {
    background-color: #0056b3;
}