/* operation.css */

/* Reset mặc định và font */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #C5E3FF;
}

/* Container tổng, chứa 2 panel trái/phải */
.container-operation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 6vw;
    padding: 30px 50px 30px 50px;
    color: #000;

}

/* Panel bên trái (Chất lượng không khí) */
.left-panel {
    background-color: #9EC8FF;
    width: 50vw;
    height: 90vh;
    padding: 20px;
    border-radius: 0px 40px 40px 0px;
    border: #2A376D solid 2.5px;
    border-left: none;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
}

.left-panel h2 {
    height: 12vh;
    margin: 0;
    font-style: normal;
    font-size: 64px;
    text-align-last: center;
}

/* Grid chứa các card (Nhiệt độ, Độ ẩm, v.v.) */
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 50px 20px 50px 20px;
}

/* Mỗi card hiển thị 1 thông tin */
.card {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 15px;
    height: 15vh;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icon {
    font-size: 50px;
    margin-right: 10px;
}

.co2-icon {
    font-size: 35px;
    margin-right: 10px;
    font-weight: 600;
}

.info {
    font-size: 25px;
    font-weight: bold;
    display: grid;
}

/* Panel bên phải (Trợ năng) */
.right-panel {
    background-color: #f8f9fa;
    width: 35%;
    height: 80vh;
    padding: 25px 0px 25px 25px;
    border-radius: 40px;
    border: #2A376D solid 2.5px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);

}

.right-panel h3 {
    height: 12vh;
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    text-align-last: left;
    padding-bottom: 10px;
    border-bottom: #2A376D solid 2px;
}

.label-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Toggle Switch */
.toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
    padding-bottom: 10px;
    font-size: 25px;
    padding-right: 25px;
    border-bottom: #2A376D solid 2px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2A376D;
}

input:checked+.slider:before {
    transform: translateX(20px);
}

/* Cài đặt hẹn giờ: nút + */
.hen-gio-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    padding-bottom: 10px;
    padding-right: 25px;
}

.hen-gio-button {
    background-color: #2A376D;
    border: none;
    border-radius: 50%;
    color: #fff;
    width: 32px;
    height: 32px;
    font-size: 25px;
    cursor: pointer;
    line-height: 32px;
    text-align: center;
    padding: 0;
    margin-right: 7px;
}

.hen-gio-button:hover {
    background-color: #0056b3;
}